<div class="container mx-auto">
    <div class="row">
        <div class="col-4 mx-auto">
            <img src="../../../assets/images/user_logo.png" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="card shadow">
        <div class="card-body text-center">
            <h5 class="card-title m-5">
                <span class="fw-bolder font-monospace fs-1">Informations Agent</span>
            </h5>
            <div class="row">
                <div class="col-9 mx-auto">
                    <div class="card-text mt-5">
                        <div class="d-flex justify-content-between">
                            <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Nom</div>
                            <span class="fw-bold ms-5">xxxxxxxxxxxxx</span>
                        </div><hr>
                        <div class="d-flex justify-content-between">
                            <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Prenom</div>
                            <span class="fw-bold ms-5">xxxxxxxxxxxxxx</span>
                        </div><hr>
                        <div class="d-flex justify-content-between">
                            <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Nom</div>
                            <span class="fw-bold ms-5">xxxxxxxxxxxxx</span>
                        </div><hr>
                        <div class="d-flex justify-content-between">
                            <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Prenom</div>
                            <span class="fw-bold ms-5">xxxxxxxxxxxxxx</span>
                        </div><hr>
                        <div class="d-flex justify-content-between">
                            <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Nom</div>
                            <span class="fw-bold ms-5">xxxxxxxxxxxxx</span>
                        </div><hr>
                        <div class="d-flex justify-content-between">
                            <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Prenom</div>
                            <span class="fw-bold ms-5">xxxxxxxxxxxxxx</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-5 mb-5" routerLink = "/acceuilAgent">
            Retour
        </button>
    </div>
</div>