<div class="container mt-5">
    <div class="h2 mb-5 p-3 border" style="background-color: #3286E6;color : #fff">
        Ouverture d'un compte de paiement
    </div>
    <div class="card">
        <div class="card-body" style="background-color: #D4D5D5;">
            <form (ngSubmit)="onAddClient(clientForm)" #clientForm="ngForm">
                <span style="font-weight: bold; font-size: 20px; margin: vertical 5px;">Informations client</span> <hr>
                <div class="row mb-2">
                    <!--div class="col-md-6">
                        <label class="form-label">Civilité</label>
                        <select required class="form-control shadow" [(ngModel)] = 'client.civilite' name="civilite">
                          <option>Monsieur</option>
                          <option>Madame</option>
                        </select>
                    </div-->
                    <div class="col-md-12">
                      <label class="form-label">Date de Naissance</label>
                      <input required id="birthday" class="form-control shadow" type="date" placeholder="Entrer la date de naissance"
                      [(ngModel)] = 'client.birthday' name="birthday">
                    </div>
                  </div>
                <div class="row mb-1">
                  <div class="col mb-2">
                    <label for="address" class="form-label">Adresse</label>
                    <input required id="address" class="form-control shadow" type="text" placeholder="Entrer votre adresse"
                    [(ngModel)] = 'client.address' name="address">
                  </div>
                </div><hr>
                <div class="row mb-1 mt-3">
                    <div class="col mb-2">
                      <label for="IDCard" class="form-label">Numéro CNI</label>
                      <input required id="IDCard" class="form-control shadow" type="text" placeholder="Entrer le numéro de carte nationale"
                      [(ngModel)] = 'client.IDCard' name="IDCard">
                    </div>
                  </div>
                <div class="row mb-1 mt-3">
                    <div class="col mb-2">
                      <label for="nom" class="form-label">Numéro d'Immatriculation</label>
                      <input required id="immatriculation" class="form-control shadow" type="text" placeholder="Entrer le numéro d' immmatriculation"
                      [(ngModel)] = 'client.immatriculation' name="immatriculation">
                    </div>
                  </div>
                  <!--div class="row mb-1 mt-3">
                    <div class="col mb-2">
                      <label for="nom" class="form-label">Numéro Carte Bancaire</label>
                      <input required id="rib" class="form-control shadow" type="text" placeholder="Entrer le rib"
                      [(ngModel)] = 'client.rib' name="rib">
                    </div>
                    <div class="row mb-1 mt-3">
                        <div class="col mb-2">
                          <label for="nom" class="form-label">Solde Bancaire ( en Dh )</label>
                          <input required id="solde" class="form-control shadow" type="number" placeholder="Entrer le solde"
                          [(ngModel)] = 'client.solde' name="solde">
                        </div>
                    </div>
                  </div-->
                <button type="submit" class="btn btn-primary float-end m-5" [disabled]="!clientForm.valid">Créer le compte</button>
            </form>
        </div>
    </div>
  </div>
