<div class="container mt-5">
  <div class="h2 mb-5 p-3 border" style="background-color: #3286E6;color : #fff">
      Ouverture d'un compte de paiement
  </div>
  <div class="card">
      <div class="card-body" style="background-color: #D4D5D5;">
          <form (ngSubmit)="saveClientData(clientForm)" #clientForm="ngForm">
              <!--div class="row mb-2">
                  <div class="col-12">
                    <label class="form-label">Selectionner un produit</label>
                    <select required class="form-control shadow" [(ngModel)] = 'client.produit' name="produit">
                      <option>Default select</option>
                      <option>Default select</option>
                    </select>
                    </div>
                </div-->
                <span style="font-weight: bold; font-size: 20px; margin: vertical 5px;">Informations client</span> <hr>
              <div class="row mb-1">
                <div class="col-md-6">
                  <label for="username" class="form-label">Nom d'utilisateur</label>
                  <input required id="username" class="form-control shadow" type="text" placeholder="Entrer votre username"
                  [(ngModel)] = 'client.username' name="username">
                </div>
                <!-- <div class="col-md-6">
                  <label for="first_name" class="form-label">Prénom</label>
                  <input required id="first_name" class="form-control shadow" type="text" placeholder="Entrer votre prénom"
                  [(ngModel)] = 'client.first_name' name="first_name">
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Téléphone</label>
                  <input required id="phoneNumber" class="form-control shadow" type="text" placeholder="Entrer votre numéro"
                  [(ngModel)] = 'client.phoneNumber' name="phoneNumber">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Email</label>
                  <input required id="email" class="form-control shadow" type="text" name="" placeholder="Entrer votre email"
                  [(ngModel)] = 'client.email' name="email">
                </div>
              </div>
              <button type="submit" class="btn btn-primary float-end m-5" [disabled]="!clientForm.valid">Suivant</button>
          </form>
      </div>
  </div>
</div>
